{% extends 'base.html.twig' %}

{% block title %}Edit Salarie{% endblock %}

{% block body %}
    <h1>Edit Salarie</h1>

    {{ include('salarie/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-primary btn-lg" href="{{ path('salarie_index') }}">back to list</a>

    {{ include('salarie/_delete_form.html.twig') }}
{% endblock %}
