{% extends'base.html.twig' %}
{% block stylesheets %}

<link href="\vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<!-- Custom styles for this template-->
<link href="\css/sb-admin-2.min.css" rel="stylesheet">
{% endblock %}
{% block body %}
    <div class="container mt-5" >

        <div class="col-1 float-left" >

    </div>
        <div style="overflow: scroll;">
{{ form_start(form) }}

{{ form_widget(form) }}

    <button class="btn btn-primary btn-lg">{{ button_label|default('Enregistrer') }}</button>
    </div>

    </div>
{{ form_end(form) }}
{% endblock %}