{% extends 'dashboardbase.html.twig' %}

{% block title %} Wk- RahmahTool Facturation dashboard {% endblock %}


{% block body %}
    <div class="container row">
    <div class="card-body shadow">

<h1> Main Dashboard</h1>
    </div>
        <div class="card shadow col-6" style="height: 300px">

            <h1> Main Dashboard</h1>

            </div>
        </div>

    </div>
<div class="container card shadow" style="height: 300px">

    <h1> Main Dashboard</h1>
{% endblock %}
