{% extends 'dashboardbase.html.twig' %}
    {% block stylesheets %}
        <link href="\vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
        <!-- Custom styles for this template-->
        <link href="\css/sb-admin-2.min.css" rel="stylesheet">

    {% endblock %}

{% block title %}Edit Abonnement & Services{% endblock %}

{% block body %}
<div class="card shadow m-4">
    <div class="card-body">
    <h1>Edit AbonnementServices</h1>

    {{ include('abonnement_services/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-primary btn-lg" href="{{ path('abonnement_services_index') }}">back to list</a>

    {{ include('abonnement_services/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}
