{% extends 'dashboardbase.html.twig' %}
{% block title %} nouveau Abonnement ou Services {% endblock %}
    {% block stylesheets %}
        <link href="\vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
        <!-- Custom styles for this template-->
        <link href="\css/sb-admin-2.min.css" rel="stylesheet">

    {% endblock %}

{% block body %}
    <div class="card shadow m-4">
    <div class="card-body">
    <h1>Créer un nouveau Abonnement/Services</h1> <br>

    {{ include('abonnement_services/_form.html.twig') }}

    <a class="btn btn-primary btn-lg" href="{{ path('as_index') }}">back to list</a>
    </div>
</div>
{% endblock %}
